
.header{
		font-size: 40px;
}
.bodyBackground{
	background-color: blue;
}
.pFont{
	font-family: "Times New Roman", times, sarif;
}

.liHoriz{
	float: left;
}

.divBoarder{
	border-style: solid;
	border-color: red;
}